<div class="mt-3 d-flex justify-content-center">
    <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
        <div class="input-group flex-nowrap mb-1" style="width: 800px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳名稱</span>
            <input type="text" class="form-control" name="name" value="{{restaurant.name}}">
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 800px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳英文名稱</span>
            <input type="text" class="form-control" name="name_en" value="{{restaurant.name_en}}">
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 800px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳類別</span>
            <input type="text" class="form-control" name="category" value="{{restaurant.category}}">
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 800px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳地址</span>
            <input type="text" class="form-control" name="location" value="{{restaurant.location}}">
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 800px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳google map連結</span>
            <input type="url" class="form-control" name="google_map" value="{{restaurant.google_map}}">
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 800px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳電話</span>
            <input type="tel" class="form-control" name="phone" value="{{restaurant.phone}}">
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 800px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳描述</span>
            <input type="text" class="form-control" name="description" value="{{restaurant.description}}">
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 800px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">圖片連結</span>
            <input type="url" class="form-control" name="image" value="{{restaurant.image}}">
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 800px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">評分</span>
            <input type="number" min="0" max="5" step="0.1" class="form-control" name="rating" value="{{restaurant.rating}}">
        </div>
        <div class="mt-3 d-flex justify-content-evenly">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="/"><button type="button" class="btn btn-primary">Back</button></a>
        </div>
    </form>
</div>